<div class="container">

  <div class="row">

    <h1 class="col-3 mx-auto mt-5">エイカン</h1>

  </div>

  <div class="row mt-5">

    <p class="col-7 mx-auto text-center">
      エイカンでは、タンパク質、脂質、炭水化物の三つの栄養素を管理するアプリです。<br>
      この三つの栄養素は、体をうごかすのに必要な栄養素です。<br>
    </p>

  </div>

  <div class="row mt-4">

    <table class="table table-bordered text-center col-8 mx-auto">

      <thead>

        <tr>

          <th class="col-4 table-danger">タンパク質</th>

          <td>皮膚や髪の毛、筋肉などの体を作る</td>

        </tr>

      </thead>

    </table>

  </div>

  <div class="row mt-2">

    <table class="table table-bordered text-center col-8 mx-auto">

      <thead>

        <tr>

          <th class="col-4 table-warning">脂質</th>

          <td>細胞膜や生理活性物質の構成成分・ビタミンの吸収を助ける</td>

        </tr>

      </thead>

    </table>

  </div>

  <div class="row mt-2">

    <table class="table table-bordered text-center col-8 mx-auto">

      <thead>

        <tr>

          <th class="col-4 table-success">炭水化物</th>

          <td>主に、エネルギーとなるもの</td>

        </tr>

      </thead>

    </table>

  </div>

  <div class="row mt-5">

    <div class="col-4"></div>

    <div class="col-2">

      <%= link_to "新規登録",new_user_registration_path,class:'btn btn-success btn-block' %>

    </div>

    <div class="col-2">

      <%= link_to "ログイン",new_user_session_path,class:'btn btn-primary btn-block' %>

    </div>

  </div>

</div>
